{include file='common/header'}
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">
          	<a href="/ht/mechanism/edit"><button class="layui-btn layui-btn-sm">添加机构</button></a>
          </div>
          <div class="layui-card-body">
            <table class="layui-hide" id="table-list" lay-filter="table-list"></table>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript" id="title">
	<a href="/ht/mechanism/unit?mechanism_id={{ d.id }}">{{ d.title }}</a>
</script>
<script type="text/javascript" id="handle">
	<div class="layui-table-cell laytable-cell-1-10"> 
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> 
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> 
	</div>
</script>

<script>
layui.use(['table'], function(){
    var admin = layui.admin
    ,table = layui.table;
  	
  	//渲染表格
    table.render({
      elem: '#table-list'
      ,url: '/ht/mechanism/getPage'
      ,method: 'POST'
      ,limit: 15
      ,count: {$total}
      ,cols: [[
        {field:'id', title: '编号',width:80}
        ,{field:'name', title: '机构',}
        ,{field:'erCode',title: '分销二维码',align:'center'}
        ,{field:'handle', title: '操作', templet:'#handle'}
      ]]
      ,page: true
      ,done(res, curr, count){
		
      }
    });
    
    //监听工具条
	  table.on('tool(table-list)', function(obj){
	    var data = obj.data;
	    if(obj.event === 'del'){
	      layer.confirm('确定删除该机构吗？', function(index){
	      	$.post('{:url("mechanism/del_mechanism")}',{'mechanism_id':data.id},function(res){
	      		if(res.code==100){
	      			obj.del();
	     	   		layer.close(index);
	      		}else{
	      			dialog.error('删除失败');
	      		}
				
			},'json');
	      });
	    } else if(obj.event === 'edit'){
	    	location.href='/ht/mechanism/edit?mechanism_id='+data.id;
	    }
	  });
    
  });

</script>
{include file='common/footer'}